.parallax {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    background-image: url("../img/parallax.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }